# Server Config
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server
RPC_URL="http://localhost:8545"
DOMAIN_URL="http://localhost:8080"

# CORS Config
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Aggregator Config
AGGREGATOR_URL="http://localhost:8080"
HEARTBEAT="1000" # Periodic beat to the aggregator in ms

# Operator Config
PRIVATE_KEY=""
